<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="nav-sidebar">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="/dist/img/logo.jpeg" alt="UJC Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">SGF UJC</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-id-badge"></i>
                                <p>
                                    CARGOS
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/cargos/listar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todos Cargos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/cargos/cadastrar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Cargos</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-project-diagram"></i>
                                <p>
                                    DEPARTAMENTOS
                                    <i class="right fas fa-angle-down"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="departamentos/listar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todos Departamentos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/departamentos/cadastrar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Departamento</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    FUNCIONARIOS
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/funcionarios/listar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todos Funcionarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/funcionarios/cadastrar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Funcionarios</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    FERIAS
                                    <i class="fas fa-angle-down right"></i>

                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/requisicoes/listar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todas Requisições</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    FACULDADES
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/faculdades/listar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Todas Faculdades</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/faculdades/cadastrar" class="nav-link">
                                        <i class="fas fa-angle-right nav-icon"></i>
                                        <p>Adicionar Faculdade</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </body>

</html>